# Ignore Snakemake files
.snakemake/*
ingest/.snakemake/*

# Ignore ingest logs and benchmarks
ingest/logs
ingest/benchmarks

# Ignore ingest results
ingest/data/trans_*
ingest/data/ncbi*
ingest/data/metadata*
ingest/data/sequences.fasta
ingest/data/*

# Ignore intermediate results files
vp1/results/*
whole_genome/results/*

# Ignore temporary files
temp

# data
data/*
ingest/data/references/nextclade.tsv

# files with sensitive information
.env
bin

# data to include
!/data/date_last_updated.txt
!/data/local_accn.txt
!/data/references
!/ingest/data/references/

## part of nextstrain-builds-data repo
data/meta_publications.tsv
data/strain_names_previous_run.tsv
data/genbank_metadata.tsv