# Ignore Snakemake files
.snakemake/*
ingest/.snakemake/*

# Ignore ingest logs and benchmarks
ingest/logs
ingest/benchmarks

# Ignore ingest results
ingest/data/trans_*
ingest/data/ncbi*
ingest/data/metadata*
ingest/data/sequences.fasta
ingest/data/*

# Ignore intermediate results files
vp1/results/*
whole_genome/results/*
data/metadata.tsv
data/sequences.fasta
data/curated/*

# Ignore temporary files
temp

# auspice
auspice/*

# data
data/metadata
data/final_meta.tsv
ingest/data/references/nextclade.tsv
data/*

# files with sensitive information
.env
bin
logs